.dash {
  height: calc(100vh - 15vh);
  grid-area: dash;
  display: flex;
  justify-content: start;
  padding-bottom: 10vh;
  width: calc(100vw - 15vw);
  overflow-y: scroll;
  background-color: white; 
  overflow-x: hidden; 
  flex-direction: column; 
  gap: 3vh;

  }  

